# Visual Studio Code settings
.vscode/
# Build artifacts
build/
build/**

# Xcode and user data
DerivedData/
xcuserdata/
*.xcuserstate
*.xcworkspace
*.xcuserdatad

# Swift Package Manager
SourcePackages/
.build/

# CocoaPods
Pods/

# Carthage
Carthage/

